// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000; /* 确保设置了宽度 */
}

.text-container {
  width: 300px;             /* 限定容器宽度触发换行 */
  overflow-wrap: break-word;
  text-align: justify;
  hyphens: auto;            /* 需设置html标签lang="en" */
  border: 1px solid #ddd;   /* 可视化边界（可选） */
}
